input {
  width: 100%;
  padding: 0.3rem 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $border-grey;
  background: transparent;
  color: $grey-text-color;
}
input:invalid,
input.error {
  border-bottom: 1px solid #fa243c;
  background: rgba(250, 36, 60, 0.1);
}
