.form {
  width: 100%;
  max-width: 350px;
  position: relative;
  @include flex(center, center);
  flex-direction: column;
  padding: 25px;
  background-color: $light-text-color;
  border-radius: 20px;

  label {
    width: 100%;
    margin-bottom: 5px;
  }

  .error-message {
    width: 100%;
    padding: 0 0 8px;

    li {
      padding: 6px 0;
    }
  }
}
