.user {
  @include flex(center, center);
  padding: 30px 15px;
  flex-direction: column;

  > img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    padding: 0 15px;
    margin: 15px 0 25px;
  }

  .user-profile {
    width: 100%;
    max-width: 350px;
    position: relative;
    @include flex(center, center);
    flex-wrap: wrap;
    padding: 25px;
    background-color: $light-text-color;
    border-radius: 20px;

    dl {
      width: 100%;
      display: grid;
      grid-template-columns: max-content auto;
    }
    dt,
    dd {
      padding: 0.3rem 0;
      margin-bottom: 20px;
      border-bottom: 1px solid $border-grey;
    }
    dd {
      color: $grey-text-color;
      text-align: right;
    }

    .btn-red {
      margin-top: 20px;
    }
  }

  .logout-link {
    margin-left: 20px;
    color: $link-red;
  }
}
