@import '../../scss/mixins';
@import '../../scss/variables';

.registration {
  @include flex(center, center);
  padding: 30px 15px;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: 32px;
    padding: 0 15px;
    margin-bottom: 25px;
  }

  &__form {
    width: 100%;
    max-width: 350px;
    padding: 25px;
    background-color: $light-text-color;
    border-radius: 20px;
    @include flex(center, center);
    flex-direction: column;

    .form__login-link {
      margin-top: 20px;
    }
  }
}
