@import '../../scss/mixins';
@import '../../scss/variables';

.registration {
  @include flex(center, center);
  padding: 30px 15px;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: 32px;
    padding: 0 15px;
    margin-bottom: 25px;
  }

  &__form {
    .form__login-link {
      margin-top: 20px;
    }
  }
}
