@import '../../scss/mixins';
@import '../../scss/variables';

.authorization {
  @include flex(space-around, center);
  padding: 0 15px;

  &__title {
    text-align: center;
    font-size: 32px;
    padding: 15px;
  }

  &__form {
    width: 100%;
    max-width: 350px;
    padding: 25px;
    background-color: $light-text-color;
    border-radius: 20px;
    @include flex(center, center);
    flex-direction: column;

    .form__forgot_pass {
      margin-top: 20px;
    }
  }
}
