$fs: 14px;

$dark-text-color: #1d1d1f;
$light-text-color: #fff;
$grey-text-color: #86868b;
$link-color: #0077ed;
$link-red: #fa243c;

$bg-body: #e5e5e5;
$border-grey: #d2d2d7;

$header-height: 44px;
$chats-width: 250px;
