@import "../../scss/mixins";
@import "../../scss/variables";

.user-list {
  width: 100%;
  margin-top: 15px;

  .user-item {
    position: relative;
    @include flex(space-between, flex-start);
    padding: 10px 0;
    border-bottom: 1px solid $border-grey;

    &:hover::before {
      display: block;
      border-left: 1px solid $dark-text-color;
      content: "";
      height: 37px;
      width: 0;
      position: absolute;
      left: -8px;
    }

    &__icon {
      width: 37px;
      height: 37px;
      border-radius: 50%;
    }

    &__content {
      @include flex(space-between, flex-start);
      flex-direction: column;
      width: 100%;
      height: 37px;
      margin-left: 8px;
    }
    &__title {
      font-size: 14px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 160px;
    }
    &__text {
      color: $grey-text-color;
      font-size: 11px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 160px;
    }

    &__delete {
      color: $grey-text-color;
      position: absolute;
      display: block;
      right: 7px;
      top: 7px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: $dark-text-color;
      }
    }
  }
}
